.form {
	align-items: stretch;
	display: flex;
	flex-direction: column;
}

.control {
	margin-bottom: 0.5rem;
	width: 100%;
}

.control label {
	font-weight: bold;
	margin-bottom: 0.25rem;
	max-width: 25rem;
	display: block;
}

.control input {
	font: inherit;
	border: 1px solid #ccc;
	border-radius: 4px;
	max-width: 25rem;
	width: 100%;
}

.actions {
	margin-top: 1rem;
	text-align: right;
}

.actions button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #8a2b06;
	padding: 0.5rem 2rem;
	border-radius: 25px;
	margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
	background-color: #5a1a01;
	border-color: #5a1a01;
	color: white;
}

.actions .button--alt {
	color: #8a2b06;
}

.actions .button {
	background-color: #8a2b06;
	color: white;
}

.invalid label {
	color: #ca3e51;
}

.invalid input {
	border-color: #aa0b20;
	background-color: #ffeff1;
}

.errorText {
	margin: 0.25rem 0;
	color: #ca3e51;
}

.formText {
	font-size: 1.25rem;
	font-weight: bold;
}

.textInfo {
	font-size: 1.3rem;
	text-align: center;
	font-weight: bold;
}
